@using PagedList
@using PagedList.Mvc
@model IPagedList<StockTrackingMVC.Models.Entity.tbl_customers>

@{
    ViewBag.Title = "Müşteri Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:10px">Müşteri Listesi</h2>
<hr />

<p>
    @Html.ActionLink("Yeni Ekle", "AddCustomer", null, new { @class = "btn btn-primary" })
</p>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Şehir</th>
                    <th scope="col">Bakiye</th>
                    <th scope="col">Düzenle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ctm_name)</td>
                        <td>@Html.DisplayFor(modelItem => item.ctm_surname)</td>
                        @if (item.ctm_city == null)
                        {
                            <td>Belirtilmemiş</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.ctm_city)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.ctm_balance) ₺</td>
                        <td>@Html.ActionLink("Düzenle", "UpdateCustomer", new { id = item.ctm_id }, new { @class = "btn btn-info btn-sm mr-1" })</td>
                        <td>@Html.ActionLink("Sil", "DeleteCustomer", new { id = item.ctm_id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Bu müşteriyi silmek istediğinizden emin misiniz?');" })</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="pagination-container">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.TwitterBootstrapPagerAligned)
        </div>
    </div>
}
else
{
    <p class="text-muted">Listelenecek müşteri bulunamadı.</p>
}
