@model StockTrackingMVC.Models.Entity.tbl_customers

@{
    ViewBag.Title = "Müşteri Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:10px">Müşteri Güncelle</h2>
<hr />
@using (Html.BeginForm("UpdateCustomer", "Customer", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ctm_id)
    <div class="form-group">
        @Html.Label("Müşteri Adı", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ctm_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Kategori Adı..." } })
        @Html.ValidationMessageFor(x => x.ctm_name, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Soyadı", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ctm_surname, new { htmlAttributes = new { @class = "form-control", placeholder = "Kategori Soyadı..." } })
        @Html.ValidationMessageFor(x => x.ctm_surname, "", new { @style = "color:red" })

    </div>
    <div class="form-group">
        @Html.Label("Müşteri Şehri", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ctm_city, new { htmlAttributes = new { @class = "form-control", placeholder = "Kategori Şehri..." } })
        @Html.ValidationMessageFor(x => x.ctm_city, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        @Html.Label("Müşteri Bakiyesi", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ctm_balance, new { htmlAttributes = new { @class = "form-control", placeholder = "Kategori Bakiyesi..." } })
        @Html.ValidationMessageFor(x => x.ctm_balance, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
}