@model List<StockTrackingMVC.Models.Entity.tbl_sales>

@{
    ViewBag.Title = "Satışlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:10px">Satış Listesi</h2>
<hr />

<p>
    @Html.ActionLink("Satış Yap", "AddSale", null, new { @class = "btn btn-primary" })
</p>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ürün</th>
                    <th scope="col">Personel</th>
                    <th scope="col">Müşteri</th>
                    <th scope="col">Satış Fiyatı</th>
                    <th scope="col">Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.tbl_products.prd_name)</td>
                        <td>@(item.tbl_staff.stf_name + " " + item.tbl_staff.stf_surname)</td>
                        <td>@(item.tbl_customers.ctm_name + " " + item.tbl_customers.ctm_surname)</td>
                        <td>@Html.DisplayFor(modelItem => item.sal_salePrice) ₺</td>
                        <td>@item.sal_date.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-muted">Listelenecek satış bulunamadı.</p>
}
